/*adam.css*/
body {
  padding: 0 2rem 2rem !important;
}

span.right {
  float: right;
}

h2 {
  display: block;
  /*font-size: 1.17em;*/
  font-family: 'function_pro_bookbold', 'Futura Std Heavy', Futura, 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 0.3em !important;
}

ul.venues li {
  border-bottom: 1px solid #f9f9f9;
  clear: both;
}
ul.venues li div {
  overflow: hidden;
}
ul.venues li:nth-child(odd) {
  background: #f9f9fb;
}

/*span i {
  height: 14px;
  width: 14px;
}*/